// Colors
$black: #000000;
$cream: hsl(27, 66%, 92%);
$cyan: hsl(186, 34%, 60%);
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$soft-red: hsl(10, 79%, 65%);
$very-pale-orange: hsl(33, 100%, 98%);
$white: #FFFFFF;

// Fonts
$dm-sans: 'DM Sans', sans-serif;