@import './reset';
@import './variaveis';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import '../2-componentes/1-balance';
@import '../2-componentes/2-graphic';

body {
    box-sizing: border-box;
    background-color: $cream;

    @include font-styling($very-pale-orange, 1.125rem, 400);
    font-family: $dm-sans;

    padding: 5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    width: 100%;
    
    .main {
        max-width: 540px;
        width: 100%;
    }
}