@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container__balance {
  background-color: hsl(10, 79%, 65%);
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1.5rem 1.25rem;
}
.container__balance .balance__subtitle {
  color: hsl(27, 66%, 92%);
  font-size: 0.9375rem;
  font-weight: 400;
  margin-bottom: 0.875rem;
}
.container__balance .balance__amount {
  color: hsl(33, 100%, 98%);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container__balance .balance__subtitle {
    color: "";
    font-size: 1.125rem;
    font-weight: "";
  }
  .container__balance .balance__amount {
    color: "";
    font-size: 2rem;
    font-weight: "";
  }
}
.graphic {
  background-color: hsl(33, 100%, 98%);
  border-radius: 0.625rem;
  padding: 1.75rem 1.25rem;
}
.graphic__subtitle {
  color: hsl(25, 47%, 15%);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.graphic__bar {
  width: 100% !important;
  height: 100% !important;
  cursor: pointer !important;
}
.graphic .container__month {
  border-top: 1px solid hsl(27, 66%, 92%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1.75rem;
  padding-top: 1.75rem;
}
.graphic .container__month .month__subtitle, .graphic .container__month .month__description {
  color: hsl(28, 10%, 53%);
  font-size: 0.875rem;
  font-weight: 400;
}
.graphic .container__month .month__value {
  color: hsl(25, 47%, 15%);
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 1rem;
  cursor: pointer;
}
.graphic .container__month .month__percent {
  color: hsl(25, 47%, 15%);
  font-size: 1rem;
  font-weight: 700;
  text-align: end;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 375px) {
  .graphic__subtitle {
    color: "";
    font-size: 1.5rem;
    font-weight: "";
  }
  .graphic .container__month .month__subtitle, .graphic .container__month .month__description {
    color: "";
    font-size: 0.9375rem;
    font-weight: "";
  }
  .graphic .container__month .month__value {
    color: "";
    font-size: 1.875rem;
    font-weight: "";
    margin-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .graphic__subtitle {
    color: "";
    font-size: 2rem;
    font-weight: "";
  }
  .graphic .container__month .month__subtitle, .graphic .container__month .month__description {
    color: hsl(28, 10%, 53%);
    font-size: 1.125rem;
    font-weight: 400;
  }
  .graphic .container__month .month__value {
    color: "";
    font-size: 3rem;
    font-weight: "";
    margin-top: 1rem;
  }
  .graphic .container__month .month__percent {
    color: hsl(25, 47%, 15%);
    font-size: 1.125rem;
    font-weight: 700;
    text-align: end;
    margin-bottom: 0.5rem;
  }
}
/*
    -   Estilizar gráfico (Tamanho de largura do gráfico**, 
        cor e fonte das informações do pop-up barra selecionada**, 
        cor da barra ao passar mouse por cima**, 
        cor da barra ao ser selecionada, ).

    -   Corrigir largura dos elementos, de modo que respeitem os paddings laterais.**
    -   Definir tamanho max de largura.**
    -   Conferir estilização no tamanho minimo e readptar se necessário**

    - Remover padding na versão tablet e desktop**
    - Aumentar tamanho das fontes para versão tablet e desktop**

    Após isso, partir para o js.
*/
body {
  box-sizing: border-box;
  background-color: hsl(27, 66%, 92%);
  color: hsl(33, 100%, 98%);
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  padding: 5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
body .main {
  max-width: 540px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  body {
    padding: 5rem 0rem;
  }
}/*# sourceMappingURL=base.css.map */